.about{
    width: 100%;
    height: auto;
    padding-top: 200px;
    .about-container{
        max-width: 1225px;
        margin: auto;
        padding: 0 30px;
        .about-items:nth-child(2){
            padding-top: 100px;

        }
        .about-items:nth-child(3){
            padding-top: 100px;

        }
        h2{
            text-align: center;
            font-size: 5rem;
            font-weight: 900;
            font-family: $font-cinzal;
            padding-bottom: 20px;
            color: #1D2547;
        }
        p{
            font-size: 1.8rem;
            text-align: center;
            max-width: 80%;
            margin: auto;
            color: rgb(100, 109, 119);
            line-height: 1.6;
            padding-bottom: 30px;
        }
    }
}