.blog{
    width: 100%;
    height: auto;
    padding-top: 200px;
    .blog-container{
        max-width: 1225px;
        margin: auto;
        padding: 0 30px;
        display: grid;
        grid-template-columns: repeat(2fr, 1fr);
    }
}