.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: lightcyan;
}

.page {
    position: relative;
    top: 80px;
    width: 95%;
    height: 60px;
    margin: auto;
    background: #EFF5F8;
    .page-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        ul{
            display: flex;
            gap: 8px;
            li{
                a{
                    font-size: 1.5rem;
                    color: #949EA5;
                }
                i{
                    font-size: 1.3rem;
                    color: #949EA5;
                }
            }
        }

    }
}

.map{
    width: 100%;
    height: auto;
    padding-top: 150px;
    .map-container{
        max-width: 1225px;
        margin: auto;
        padding: 0 30px;
    }
}

.contact {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0;
    .contact-title {
        max-width: 1225px;
        margin: auto;
        padding: 0 30px;
        padding-bottom: 20px;
        h2 {
            font-size: 2.5rem;
            font-family: $font-cinzal;
        }
    }

    .contact-container {
        max-width: 1225px;
        margin: auto;
        padding: 0 30px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 50px;
        .contact_Left{
            form{
                .input-100{
                    padding-bottom: 20px;
                    textarea{
                        width: 100%;
                        resize: none;
                        padding: 15px;
                        outline: none;
                        font-size: 1.6rem;
                        border: 1px solid rgba(0,0,0,0.2);
                    }
                    input{
                        width: 100%;
                        padding: 15px;
                        outline: none;
                        font-size: 1.6rem;
                        border: 1px solid rgba(0,0,0,0.2);
                    }
                }
                .input-50{
                    display: flex;
                    gap: 25px;
                    padding-bottom: 20px;
                    input{
                        width: 100%;
                        padding: 15px;
                        outline: none;
                        font-size: 1.6rem;
                        border: 1px solid rgba(0,0,0,0.2);
                    }
                }
                .contact-btn{
                    width: 140px;
                    height: 60px;
                    border: 1px solid $blue;
                    color: $blue;
                    font-size: 1.6rem;
                    background: transparent;
                    cursor: pointer;
                }
            }

        }
        .contact_Right{
            .contact-info{
                display: grid;
                grid-template-columns: 30px 1fr;
                grid-gap: 30px;
                align-items: center;
                padding-bottom: 20px;
                .contact-icons{
                    justify-self: center;
                    text-align: center;
                    i{
                        font-size: 3rem;
                        color: #8a8a8a;
                    }
                }
                .contact-content{
                    p{
                        font-size: 1.5rem;
                        color: #8a8a8a;
                    }
                }
            }
        }
    }
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    background: #1D2547;
    padding-top: 100px;
    padding-bottom: 50px;

    .footer-container {
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        padding: 0 30px;

        .footer-items {
            .footer-title {
                padding-bottom: 30px;

                h2 {
                    font-size: 2rem;
                    color: #fff;
                }
            }

            .footer-content {
                p {
                    font-size: 1.5rem;
                    line-height: 1.8;
                    color: #C2C5DB;
                }
            }

            .footer-icons {
                padding-top: 50px;

                ul {
                    display: flex;
                    gap: 30px;

                    li {
                        width: 50px;
                        height: 50px;
                        border: 1px solid #C2C5DB;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        i {
                            font-size: 1.6rem;
                            color: #fff;
                        }
                    }
                }
            }

            .footer_Links {
                ul {
                    display: flex;
                    gap: 10px;
                    flex-direction: column;

                    a {
                        font-size: 1.5rem;
                        color: #C2C5DB;
                        transition: 0.3s ease;

                        &:hover {
                            text-decoration: underline;
                            color: $blue;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: 0 10px;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            font-size: 1.5rem;
            color: #C2C5DB;

            i {
                color: red;
            }

            span {
                color: $blue;
            }
        }
    }
}