@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}

/* ---------- Global-classes ---------- */

$cinzel: 'Cinzel', serif;
$blue-color: #9F78FF;
$light-bg: #1D2547;
$text-bg: #2B2B2B;

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    position: relative;
}

/* ---------- /Global-classes ---------- */