@media (max-width: 1024px) {
    .header .navbar .navbarRight .nav-icons {
        display: none;
    }

    .collection {
        .collection-items {
            h2 {
                font-size: 5rem;
            }
        }

        .collection-container {
            .collection-card {
                position: relative;

                .collection-img {
                    position: relative;

                }

                .coolection-content {
                    h3 {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    .header {
        .navbar {
            .navbarLeft {
                .nav-menu {
                    position: absolute;
                    top: 80px;
                    left: -100%;
                    width: 100%;
                    height: auto;
                    gap: 30px;
                    flex-direction: column;
                    background: #ffff;
                    padding: 30px 10px;

                    li {
                        &:hover .drop-menu {
                            opacity: 1;
                            visibility: visible;
                            top: 80px;
                        }
                    }

                    a {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: #1D2547;
                        transition: 0.5s ease;
                        text-transform: uppercase;
                        padding: 8px 20px;

                        &:hover {
                            color: #8c6ae4;
                        }
                    }

                    .desktop {
                        display: none;
                    }

                    .drop-menu {
                        position: static;
                        opacity: 1;
                        visibility: visible;
                        overflow: hidden;
                        height: 0;
                        border: none;
                        padding: 0;
                        transition: none;

                        li {
                            &:hover {
                                transform: none;
                            }
                        }
                    }

                    .mobile {
                        display: block;
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: #1D2547;
                        transition: 0.5s ease;
                        text-transform: uppercase;
                        padding: 8px 20px;
                        cursor: pointer;
                    }
                }

                .nav-menu.active {
                    left: 0;
                }

                #showMenu:checked~.drop-menu {
                    height: 100%;
                    transition: none;
                    padding: 20px;
                    width: 95%;
                    margin: auto;
                    background: #F6F8FE;
                }

                #showMenu:checked~.drop-menu li {
                    transition: none;
                }

            }
            .navbarRight{
                .nav-cart {
                    display: none;
                }
    
                .hamburger {
                    display: block;
                }
            }

        }
    }

    .arrival {
        .arrival-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .collection {
        .collection-items {
            h2 {
                font-size: 5rem;
            }
        }

        .collection-container {
            .collection-card {
                position: relative;

                .collection-img {
                    position: relative;

                }

                .coolection-content {
                    h3 {
                        font-size: 2.2rem;
                    }

                    a {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    .hero {
        .hero-container {
            h1 {
                font-size: 8rem;
            }

            a {
                font-size: 1.8rem;
            }
        }
    }

    footer {
        position: relative;
        bottom: 0;
        left: 0;
        background: #1D2547;
        padding-top: 100px;

        .footer-container {
            width: 95%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 50px;
            justify-items: start;
            padding: 0 0px;
        }
    }

    .feature {
        .feature-container {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 50px;
            justify-content: center;
            padding: 50px 0px;
        }
    }

    .product {
        .product-container {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }
    }
}


@media (max-width: 768px) {
    .hero {
        .hero-container {
            h1 {
                font-size: 6rem;
            }

            a {
                font-size: 1.6rem;
            }
        }
    }

    .collection {
        .collection-items {
            h2 {
                font-size: 4rem;
            }
        }

        .collection-container {
            grid-template-columns: 1fr;

            .collection-card {
                position: relative;

                .collection-img {
                    position: relative;

                }

                .coolection-content {
                    h3 {
                        font-size: 2.5rem;
                    }

                    a {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    .blog {
        .blog-container {
            grid-template-columns: 1fr;
            padding-bottom: 50px;
        }
    }

    .contact {
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 0;

        .contact-container {
            max-width: 1225px;
            margin: auto;
            padding: 0 30px;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 50px;
        }
    }
}

@media (max-width:568px) {
    .header {
        .navbar {
            .navbarLeft {
                .logo a {
                    font-size: 2.5rem;
                }
                .nav-menu {
                    position: absolute;
                    top: 80px;
                    left: -100%;
                    width: 100%;
                    height: auto;
                    gap: 30px;
                    flex-direction: column;
                    background: #ffff;
                    padding: 30px 10px;

                    li {
                        &:hover .drop-menu {
                            opacity: 1;
                            visibility: visible;
                            top: 80px;
                        }
                    }

                    a {
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: #1D2547;
                        transition: 0.5s ease;
                        text-transform: uppercase;
                        padding: 8px 10px;

                        &:hover {
                            color: #8c6ae4;
                        }
                    }

                    .desktop {
                        display: none;
                    }

                    .drop-menu {
                        position: static;
                        opacity: 1;
                        visibility: visible;
                        overflow: hidden;
                        height: 0;
                        border: none;
                        padding: 0;
                        transition: none;

                        li {
                            &:hover {
                                transform: none;
                            }
                        }
                    }

                    .mobile {
                        display: block;
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: #1D2547;
                        transition: 0.5s ease;
                        text-transform: uppercase;
                        padding: 8px 10px;
                        cursor: pointer;
                    }
                }

                .nav-menu.active {
                    left: 0;
                }

                #showMenu:checked~.drop-menu {
                    height: 100%;
                    transition: none;
                    padding: 20px;
                    width: 95%;
                    margin: auto;
                    background: #F6F8FE;
                }

                #showMenu:checked~.drop-menu li {
                    transition: none;
                }
                #showMenu:checked~.drop-menu li a{
                    font-size: 1.4rem;
                }

            }
            .navbarRight{
                gap: 5px;
                .nav-cart {
                    display: none;
                }
    
                .hamburger {
                    display: block;
                }
            }

        }
    }

    .hero {
        .hero-container {
            padding: 200px 20px;

            h1 {
                font-size: 6rem;
            }

            a {
                font-size: 1.5rem;
            }
        }
    }

    .arrival {
        .arrival-title {
            h2 {
                font-size: 5rem;
            }
        }

        .arrival-container {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 10px;
            padding-bottom: 50px;
        }
    }

    .collection {
        .collection-items {
            padding: 150px 5px;

            h2 {
                font-size: 3rem;
            }
        }

        .collection-container {
            grid-template-columns: 1fr;

            .collection-card {
                position: relative;

                .collection-img {
                    position: relative;

                }

                .coolection-content {
                    bottom: 25px;

                    h3 {
                        font-size: 2rem;
                    }

                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .about {
        .about-container {
            padding: 0 10px;

            h2 {
                font-size: 3.5rem;
            }

            p {
                font-size: 1.4rem;
                max-width: 100%;
            }
        }
    }

    .feature {
        .feature-container {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 50px;
            justify-content: center;
            padding: 50px 10px;

            .feature-item {
                justify-self: start;
            }

        }
    }

    .product {
        .product-container {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
        }
    }


    .map {
        width: 100%;
        height: auto;
        padding-top: 150px;

        .map-container {
            max-width: 1225px;
            margin: auto;
            padding: 0 10px;
        }
    }


    .contact {
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 0;

        .contact-title {
            padding: 0 10px;
            padding-bottom: 30px;
        }

        .contact-container {
            padding: 0 10px;
        }
    }

    footer {
        .footer-container {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 50px;
            justify-items: start;
            padding: 0 0px;

            .footer-items {
                .footer-title {
                    padding-bottom: 30px;

                    h2 {
                        font-size: 1.8rem;
                    }
                }

                .footer-content {
                    p {
                        font-size: 1.4rem;
                    }
                }

                .footer-icons {
                    padding-top: 30px;

                    ul {
                        display: flex;
                        gap: 30px;

                        li {
                            width: 50px;
                            height: 50px;
                            border: 1px solid #C2C5DB;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            i {
                                font-size: 1.6rem;
                                color: #fff;
                            }
                        }
                    }
                }

                .footer_Links {
                    ul {
                        display: flex;
                        gap: 10px;
                        flex-direction: column;

                        a {
                            font-size: 1.4em;
                        }
                    }
                }
            }
        }

        .footer-bottom {
            p {
                font-size: 1.4rem;
                line-height: 1.6;
            }
        }
    }
}

@media(max-width :380px) {

    .header {
        .navbar {
            .navbarLeft {
                .logo a {
                    font-size: 2.5rem;
                }
                .nav-menu {
                    position: absolute;
                    top: 80px;
                    left: -100%;
                    width: 100%;
                    height: auto;
                    gap: 30px;
                    flex-direction: column;
                    background: #ffff;
                    padding: 30px 10px;

                    li {
                        &:hover .drop-menu {
                            opacity: 1;
                            visibility: visible;
                            top: 80px;
                        }
                    }

                    a {
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: #1D2547;
                        transition: 0.5s ease;
                        text-transform: uppercase;
                        padding: 8px 0px;

                        &:hover {
                            color: #8c6ae4;
                        }
                    }

                    .desktop {
                        display: none;
                    }

                    .drop-menu {
                        position: static;
                        opacity: 1;
                        visibility: visible;
                        overflow: hidden;
                        height: 0;
                        border: none;
                        padding: 0;
                        transition: none;

                        li {
                            &:hover {
                                transform: none;
                            }
                        }
                    }

                    .mobile {
                        display: block;
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: #1D2547;
                        transition: 0.5s ease;
                        text-transform: uppercase;
                        padding: 8px 0px;
                        cursor: pointer;
                    }
                }

                .nav-menu.active {
                    left: 0;
                }

                #showMenu:checked~.drop-menu {
                    height: 100%;
                    transition: none;
                    padding: 20px;
                    width: 95%;
                    margin: auto;
                    background: #F6F8FE;
                }

                #showMenu:checked~.drop-menu li {
                    transition: none;
                }
                #showMenu:checked~.drop-menu li a {
                    font-size: 1.4rem;
                }


            }
            .navbarRight{
                gap: 5px;
                .nav-cart {
                    display: none;
                }
    
                .hamburger {
                    display: block;
                }
            }

        }
    }

    .hero {
        .hero-container {
            padding: 200px 20px;

            h1 {
                font-size: 4.5rem;
            }

            a {
                font-size: 1.5rem;
            }
        }
    }

    .collection {
        .collection-items {
            padding: 150px 5px;

            h2 {
                font-size: 2.5rem;
            }

            a {
                font-size: 1.4rem;
            }
        }

        .collection-container {
            grid-template-columns: 1fr;

            .collection-card {
                position: relative;

                .collection-img {
                    position: relative;

                }

                .coolection-content {
                    bottom: 25px;

                    h3 {
                        font-size: 2rem;
                    }

                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}